doctype html
html(lang="it")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css")
		link(rel="stylesheet" href="/assets/style.css")
		title Cornici
	body
		h1 Cornici

		main#main
			section#form-section
				form#upload-form
					label(for="photo") Foto
					input#photo(required type="file" name="photo" accept=".jpg,.jpeg,.png")
					
					label(for="ratio") Formato
					select#ratio(name="ratio")
						option(value="square") 1:1 (quadrato)
						option(value="portrait") 2:3 (verticale)
						option(value="landscape") 3:2 (orizzontale)

					label(for="zone") Zona
					select#zone(name="zone")
						option(value="doc") DOC
						option(value="etruria") Etruria
						option(value="galileo") Galileo
						option(value="magnifico") Il Magnifico
						option(value="montalbano") Montalbano
						option(value="tirreno") Tirreno

				button#apply(disabled) Applica cornice
			section#photo-section
				img#image
		script(src="//cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js")
		script(src="//cdn.jsdelivr.net/npm/sweetalert2@11")
		script(src="/assets/script.js" defer)