@use "pico" with (
  $enable-semantic-container: true,
  $enable-transitions: false,
  $modules: (
    // Theme
    "themes/default": true,

    // Layout
    "layout/document": true,
    "layout/landmarks": true,
    "layout/container": false,
    "layout/section": false,
    "layout/grid": true,
    "layout/overflow-auto": false,

    // Content
    "content/link": true,
    "content/typography": true,
    "content/embedded": false,
    "content/button": true,
    "content/table": false,
    "content/code": false,
    "content/figure": true,
    "content/miscs": true,

    // Forms
    "forms/basics": true,
    "forms/checkbox-radio-switch": false,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": true,
    "forms/input-range": false,
    "forms/input-search": false,

    // Components
    "components/accordion": false,
    "components/card": false,
    "components/dropdown": false,
    "components/group": false,
    "components/loading": true,
    "components/modal": false,
    "components/nav": false,
    "components/progress": false,
    "components/tooltip": false,

    // Utilities
    "utilities/accessibility": false,
    "utilities/reduce-motion": false
  )
);

@use 'cropper.css';

#croppers {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  img {
    max-width: 100%;
  }
}